EQUIPO_OBJETIVO="Real Madrid"
URL_LIV_DIVISION="https://www.elmundo.es/deportes/futbol/primera-division/calendario.html"
TELEGRAM_BOT_TOKEN="tu_token_del_bot"
TELEGRAM_CHAT_ID="tu_chat_id_numerico"
GOOGLE_CALENDAR_ID="tu_calendar_id"
GOOGLE_SERVICE_ACCOUNT_JSON='{"type": "service_account", ...}'
